@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Source+Sans+Pro:wght@300;400;600&display=swap');
$fontMain: 'Montserrat', sans-serif;
$fontHeader: 'Source Sans Pro', sans-serif;

$colorBlack: #1c1d25;
$colorWhite: #FBFBFF;
$colorShade1: mix($colorWhite, $colorBlack, 10%);
$colorShade2: mix($colorWhite, $colorBlack, 55%);
$colorShade3: mix($colorWhite, $colorBlack, 70%);
$colorShade4: mix($colorWhite, $colorBlack, 90%);

$colorAccent: #5a1de9;

@mixin load() {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='30px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Crect x='0' y='10' width='4' height='10' fill='%23999999' opacity='0.2'%3E%3Canimate attributeName='opacity' attributeType='XML' values='0.2; 1; .2' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='height' attributeType='XML' values='10; 20; 10' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='10; 5; 10' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='8' y='10' width='4' height='10' fill='%23999999' opacity='0.2'%3E%3Canimate attributeName='opacity' attributeType='XML' values='0.2; 1; .2' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='height' attributeType='XML' values='10; 20; 10' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='10; 5; 10' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='16' y='10' width='4' height='10' fill='%23999999' opacity='0.2'%3E%3Canimate attributeName='opacity' attributeType='XML' values='0.2; 1; .2' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='height' attributeType='XML' values='10; 20; 10' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='10; 5; 10' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    background-color: #000;
    min-height: 120px;
    min-width: 120px;
}

@mixin contentWrap() {
    max-width: 960px;
}

@mixin textWrap() {
    max-width: 900px;
}

@mixin stripes() {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.08' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin stripesFooter() {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.08' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

@mixin borderShadow() {
    box-shadow:
        0 0 0 0.1rem #000,
        0 0 2px 0.2rem $colorShade1;
}


//--------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: none;
}

html {
    font-size: clamp(0.9rem, 2vw, 1.05rem);
    font-family: $fontMain;
    color: $colorShade4;
    line-height: 150%
}

body {
    min-width: 320px;
    background-color: $colorBlack;
}

h1 {
    font-family: $fontHeader;
    font-size: 2.5rem;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    //text-transform: uppercase;
}

h2 {
    font-family: $fontHeader;
    font-size: clamp(1.2rem, 6vw, 1.5em);
    font-style: normal;
    font-weight: 600;
    //text-transform: uppercase;
    color: #fff;
    margin-left: 0.2rem;
}

h3 {
    font-family: $fontHeader;
    font-size: clamp(1.9rem, 6vw, 2.2rem);
    font-style: normal;
    font-weight: 600;
    //text-transform: uppercase;
    color: #fff;
}

h4 {
    font-family: $fontHeader;
    font-size: clamp(0.9rem, 2vw, 1.05rem);
    font-style: normal;
    font-weight: normal;
    //text-transform: uppercase;
    color: #fff;
}

span {
    position: relative;
    left: 0.5%;
    bottom: -0.2rem;
    font-size: 1.2rem;
    color: #472d2d;
    user-select: none;
}

a {
    font-family: $fontMain;
    font-style: italic;
    text-decoration: none;
    color: #fff;

    &:hover {
        text-decoration: underline;
        //color: $colorAccent;
    }
}

img,
video {
    display: block;
    @include load();
}

.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    margin-bottom: 0.3rem;
}

address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0.7rem 1.5rem;
    border: 0.15rem solid $colorShade3;
}

.accentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    p {
        padding: 0.4rem 0.8rem;
        border-radius: 0.4rem;
        font-size: 0.9rem;
        font-style: italic;
        background-color: $colorShade1;
        color: $colorShade3;
    }
}

// HEADER
//--------------------------------------------------------------
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    //background-color: $colorAccent;
    @include stripes();
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include contentWrap();
}

// FOOTER
//--------------------------------------------------------------
footer {
    padding: 1.5rem;
    @include stripesFooter();

    div {
        @include contentWrap();
        margin: 0 auto;
        display: flex;
        justify-content: end;
    }

    address {
        padding: 0.1rem 0.3rem;
    }
}

// GALLERY
//--------------------------------------------------------------
.galleryBox {
    margin-top: 1.5rem;
}

.galleryItems {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    @include contentWrap();
    background-color: #000;
    //border: 0.2rem solid #000;
    @include borderShadow();
}

.galleryItem {
    position: relative; // Textbox
    flex: 1 1 0;
    max-width: 320px;
    min-width: 30%;
    border: 0.15rem solid #000;

    img,
    video {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    &:hover .galleryItemTextBox {
        background-color: $colorAccent;
    }
}

.galleryItemTextBox {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    opacity: 0.9;
    background-color: $colorBlack;
    color: #fff;
    text-align: center;
    font-style: normal;
    //text-transform: uppercase;
    font-size: 0.9rem;
    user-select: none;
}

// BLOG
//--------------------------------------------------------------
.blogTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
    width: 100%;
    padding: 2rem 2.8rem 2.5rem;
    border: 0.15rem solid $colorShade2;

    @include textWrap();

    ul {
        margin-left: 1rem;
        list-style-type: none;
        text-align: start;
    }

    li {
        margin: 0.5rem 0;
    }
}

.blogGalleryBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    //border: 0.2rem solid #000;
    @include borderShadow();

    p {
        color: $colorShade3;
        text-align: center;
    }
}

.blogGalleryItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.15rem solid #000;

    video,
    img {
        max-height: 85vh;
        max-width: 100%;
    }
}

// GAMECHARTS
//--------------------------------------------------------------
.gameChartsBox {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.gameChartsGameBox {
    padding: 1rem 0;
}

#gameChartsGame {
    width: 100%;
    height: 320px;
}

.gameChartsBoxChartBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;

    canvas {
        height: 320px !important;
    }
}

.gameChartsBoxChartBox-chart-1 {
    max-width: 250px;
}

// MEDIA WIDTH
//--------------------------------------------------------------

@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        gap: 1.2rem;
    }


}