$fontMain: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


$colorBlack: #1c1d25;
$colorWhite: #FBFBFF;
$colorShade1: mix($colorWhite, $colorBlack, 10%);
$colorShade2: mix($colorWhite, $colorBlack, 20%);
$colorShade3: mix($colorWhite, $colorBlack, 30%);
$colorShade4: mix($colorWhite, $colorBlack, 40%);
$colorShade5: mix($colorWhite, $colorBlack, 50%);
$colorShade6: mix($colorWhite, $colorBlack, 60%);
$colorShade7: mix($colorWhite, $colorBlack, 70%);
$colorShade8: mix($colorWhite, $colorBlack, 80%);
$colorShade9: mix($colorWhite, $colorBlack, 90%);

$colorAccent: #5a1de9;

@mixin load() {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='30px' viewBox='0 0 24 30' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Crect x='0' y='10' width='4' height='10' fill='%23999999' opacity='0.2'%3E%3Canimate attributeName='opacity' attributeType='XML' values='0.2; 1; .2' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='height' attributeType='XML' values='10; 20; 10' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='10; 5; 10' begin='0s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='8' y='10' width='4' height='10' fill='%23999999' opacity='0.2'%3E%3Canimate attributeName='opacity' attributeType='XML' values='0.2; 1; .2' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='height' attributeType='XML' values='10; 20; 10' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='10; 5; 10' begin='0.15s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3Crect x='16' y='10' width='4' height='10' fill='%23999999' opacity='0.2'%3E%3Canimate attributeName='opacity' attributeType='XML' values='0.2; 1; .2' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='height' attributeType='XML' values='10; 20; 10' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3Canimate attributeName='y' attributeType='XML' values='10; 5; 10' begin='0.3s' dur='0.6s' repeatCount='indefinite' /%3E%3C/rect%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    background-color: #000;
}

@mixin contentWrap() {
    max-width: 1600px;
}
@mixin shadow() {
    box-shadow: 5px 6px 10px rgba(0,0,0,.2);
}

@mixin stripes() {
    background-color: #ffffff;
    //background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}


@mixin borderShadow() {
    box-shadow:
        0 0 0 0.1rem #000,
        0 0 2px 0.2rem $colorShade1;
}


//--------------------------------------------------------------
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border: none;
}

html {
    font-size: clamp(0.9rem, 2vw, 1.05rem);
    font-family: $fontMain;
    color: $colorShade4;
    line-height: 150%;
}

body {
    min-height: 100vh;
    min-width: 320px;
    background-color: $colorBlack;
}

h1 {
    font-family: $fontMain;
    font-size: clamp(2.3rem, 5vw, 2.6rem);
    text-align: center;
    font-weight: normal;
    font-style: normal;
    color: $colorBlack;
    line-height: 2.5rem;
    //text-transform: uppercase;
}

h2 {
    font-family: $fontMain;
    font-size: clamp(1.1rem, 4vw, 1.8rem);
    font-weight: 600;
    color: $colorShade7;
    padding: 1.5rem 0;
    line-height: 2.5rem;
}

h3 {
    font-family: $fontMain;
    font-size: clamp(1.6rem, 4vw, 2.2rem);
    font-weight: 600;
    color: $colorShade7;
    text-align: center;
    line-height: 2.5rem;
}

h4 {
    font-family: $fontMain;
    font-size: clamp(0.9rem, 2vw, 1.05rem);
    font-style: normal;
    font-weight: normal;
    text-align: center;
    //text-transform: uppercase;
    color: #fff;
    padding: 1rem 0;
}

.btn {
    background-color: $colorBlack;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: $colorShade8;
    @include shadow();

    transition: all 0.11s ease-out;

    &:hover {
        background-color: $colorAccent;
        fill: $colorShade9;
        transform: scale(1.2);
    }

    svg {
        width: 1.4rem;
        height: 1.4rem;
    }
}

.btnDark {
    background-color: $colorShade3;
}

img,
video {
    display: block;
    @include load();
}

.babylon {
    height: 600px;

    span {
        color: #fff;
    }
}

// HEADER
//--------------------------------------------------------------
header {
    width: 100%;
    background-color: $colorWhite;
}

.headWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 3rem;
    margin: 0 auto;
    @include contentWrap();
}

.linkBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

// GALLERY
//--------------------------------------------------------------
.gallery {
    width: 100%;
    padding-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

.galleryWrap {
    padding: 2.5rem 2rem;
    margin: 0 auto;
    gap: 2rem;
    @include contentWrap();
}

.galleryBox {
    max-width: 2060px;
}

.galleryRow {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    padding: 0.25rem 0;

    img,
    video {
        width: 100%;
        height: 100%;
        max-width: 270px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 0.6rem;
        @include shadow();

        border-bottom: 0px solid $colorAccent;
        transition: border-bottom 0.11s ease-out;
    }

    img:hover,
    video:hover {
        border-bottom: 6px solid $colorAccent;
        transform: scale(1.02);
    }
}

// Item
//--------------------------------------------------------------
.itemWrap {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    @include contentWrap();
}

.itemTextBox {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    height: 100%;
    max-width: 420px;
    margin: 0 2rem 0 1rem;
    gap: 2rem;
    //border: 0.15rem solid $colorShade2;

    p {
        color: $colorShade7;
    }

    ul {
        color: $colorShade7;
        margin-left: 1rem;
        list-style-type: none;
        text-align: start;
    }

    li {
        margin: 0.5rem 0;
    }

}

.itemGalleryBox {
    min-height: 100vh;
    padding: 2rem 0 8rem;
    //background-color: #000;
    //@include shadow();

    p {
        color: $colorShade5;
        text-align: left;
        padding: 0.5rem 2rem 1rem;
    }

    video,
    img {
        max-height: 75vh;
        max-width: 100%;
    }
}

.itemLinkBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    a {
        padding: 0.5rem 1rem;
        border-radius: 0.6rem;
        font-size: 0.9rem;
        text-decoration: none;
        background-color: $colorShade3;
        color: $colorShade8;
        @include shadow();

        transition: all 0.11s ease-out;
    }

    a:hover {
        background-color: $colorAccent;
        color: $colorShade9;
        //text-decoration: underline;
        transform: scale(1.2);
    }
}

.accentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    p {
        padding: 0.4rem 0.8rem;
        border-radius: 0.6rem;
        font-size: 0.9rem;
        font-style: italic;
        background-color: $colorShade1;
        color: $colorShade6;
        @include shadow();
    }
}

// GAMECHARTS
//--------------------------------------------------------------
#gameChartsGame {
    width:720px;
    height: 320px;
}

.gameChartsBox {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#gameChartsChart1 {
    max-width: 250px;
    height: 320px
}
#gameChartsChart2 {
    max-width: 460px;
    height: 320px
}

// MEDIA WIDTH
//--------------------------------------------------------------

@media only screen and (max-width: 600px) {}